*.o
*/CMakeCache.txt
*.cmake
*/build/*
build-29_4_fg_queue-Desktop-Debug/*
build-29.4_mtds-Desktop-Debug/*
build-30_2_thread_pool-Desktop-Debug/*
build-30_3_work_stealing-Desktop-Debug/*
build-30_4_thread_local-Desktop-Debug/*
build-30_5_packaged_task-Desktop-Debug/*
build-30_5_2_promise-Desktop-Debug/*
